<!DOCTYPE html>
<html>
    <head> 
        
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        <%= erb :"partials/nav" %>
        <div class="box" id="about">
        <img src="bakery.jpg">
            <p> We have been around 5 years </br> with a 5 star review average on google. </br>If you are satified </br>feel free to leave a rating or email us </br>a reinboubakes@support.com to help us fix our </br>problems that you</br> think we have.</br> We carry a wide array of cookies, </br>
            one of them will sure fit your tastes.</br>
            Check them out.</p>
        </div>
        
        <div class ="box" id="cookiesBox">
        <a href="cookies"> <img src="<%= @chocobro.image %>"></a>
            <p>We have a wide array of cookies, </br>
            one of them will sure fit your tastes.</br>
            Check them out.</p>
        </div>
        <div class="box" id="muffinsBox">
        <a href="muffins"><img src="<%= @cheese.image %>"></a>
            <p>We have a wide array of muffins, </br>
            one of them will sure fit your tastes.</br>
            Check them out.</p>
        </div>
        <div class="box" id="cakesBox">
       <a href="cakes"> <img src="<%= @tir.image %>"></a>
            <p>We have a wide array of cakes, </br>
            one of them will sure fit your tastes.</br>
            Check them out.</p>
    </body>
</html>

